
<div class="container ng-hide">
  <br>
  <a class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#modalLogin" *ngIf="!loginSuccess">Login</a>
  <strong class="text-right" *ngIf="loginSuccess" style="display: block;">Admin is online</strong>
  <h1 class="text-center">Angular 2 CRUD</h1>
</div>
<div class="container ng-hide" *ngIf="active == 'new'">

  <h2>Add new task</h2>
  <form class="form-horizontal" name ="formNewTask">
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username" [(ngModel)]="modelTask.username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" [(ngModel)]="modelTask.email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="text">Text:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="text" placeholder="Enter your text" name="text" [(ngModel)]="modelTask.text">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="text">Image:</label>
      <div class="col-sm-10">
        <input type="file" name="photo" (change)="addPhoto($event)" accept="image/png, image/x-png, image/gif, image/jpeg" />
        <img src="{{previewSrc}}" *ngIf="previewSrc && previewSrc.length > 0;" class="img-rounded" style="width: 100%; max-width: 200px;"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" id="status" value="0" name="status" [(ngModel)]="modelTask.status">
        <a class="btn btn-default" (click)="active = 'list'; previewSrc = '';">Back</a>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalPreview" [disabled]="!canBePreviewed()">Preview</button>
      </div>
    </div>
  </form>

</div>

<div class="container ng-hide" *ngIf="active == 'list'">
  <h2>List of tasks</h2>
  <a class="btn btn-success" (click)="active = 'new'">Add task</a>

  <table class="table table-condensed" *ngIf="tasks && tasks.length > 0">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>
        <i class="glyphicon" *ngIf="column == 'Id'"
           [ngClass]="{'glyphicon-chevron-up': (column == 'Id' && !isDesc),
            'glyphicon-chevron-down': (column == 'Id' && isDesc) }
          " aria-hidden="true"></i>
        <a (click)="sortBy('Id');" role="button">Id</a>
      </th>
      <th>
        <i class="glyphicon" *ngIf="column == 'Username'"
           [ngClass]="{'glyphicon-chevron-up': (column == 'Username' && !isDesc),
            'glyphicon-chevron-down': (column == 'Username' && isDesc) }
          " aria-hidden="true"></i>
        <a (click)="sortBy('Username');" role="button">Username</a>
      </th>
      <th>
        <i class="glyphicon" *ngIf="column == 'Email'"
           [ngClass]="{'glyphicon-chevron-up': (column == 'Email' && !isDesc),
            'glyphicon-chevron-down': (column == 'Email' && isDesc) }
          " aria-hidden="true"></i>
        <a (click)="sortBy('Email');" role="button">Email</a>
      </th>
      <th>
        <i class="glyphicon" *ngIf="column == 'Text'"
           [ngClass]="{'glyphicon-chevron-up': (column == 'Text' && !isDesc),
            'glyphicon-chevron-down': (column == 'Text' && isDesc) }
          " aria-hidden="true"></i>
        <a (click)="sortBy('Text');" role="button">Text</a>
      </th>
      <th class="text-right">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks; let i=index;">
      <td>
        <i class="glyphicon fs-16" role="button"
           [ngClass]="{'glyphicon-check': (task.status >= 10),
            'glyphicon-unchecked': (task.status < 10) }
          " aria-hidden="true" (click)="changeStatus(i);"></i>
      </td>
      <td><img src="{{task.image_path}}" class="img-rounded" style="width: 100%; max-width: 200px; max-height: 200px;"></td>
      <td id="id">{{task.id}}</td>
      <td id="username">{{task.username}}</td>
      <td id="email">{{task.email}}</td>
      <td id="text">{{task.text}}</td>
      <td class="text-right">
        <a class="btn btn-primary" (click)="editTask(i); active = 'edit'">Edit</a>
      </td>
    </tr>

    </tbody>
  </table>
</div>

<div class="container ng-hide" *ngIf="active == 'edit'">

  <h2>Edit task</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username" [(ngModel)]="modelTaskOnEdit.username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" [(ngModel)]="modelTaskOnEdit.email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="text">Text:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="text" placeholder="Enter your text" name="text" [(ngModel)]="modelTaskOnEdit.text">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a class="btn btn-default" (click)="active = 'list'">Back</a>
        <a type="submit" class="btn btn-success" (click)="updateTask(); active = 'list'; ">Save</a>
      </div>
    </div>
  </form>

</div>

<!-- Modal -->
<div id="modalPreview" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Preview task</h4>
      </div>
      <div class="modal-body">

        <table class="table table-condensed">
          <thead>
          <tr>
            <th></th>
            <th>Username</th>
            <th>Email</th>
            <th>Text</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><img src="{{modelTask.image_path}}" class="img-rounded" style="width: 100%; max-width: 200px;"></td>
            <td id="username">{{modelTask.username}}</td>
            <td id="email">{{modelTask.email}}</td>
            <td id="text">{{modelTask.text}}</td>
          </tr>

          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="submit" class="btn btn-success" (click)="addTask(); active = 'list'; " data-dismiss="modal">Add task</a>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="modalLogin" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">

        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" placeholder="" name="username" [(ngModel)]="modelLogin.username">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="username">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="" name="password" [(ngModel)]="modelLogin.password">
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="submit" class="btn btn-success" data-dismiss="modal" (click)="login();" >Login</a>
      </div>
    </div>

  </div>
</div>


<nav aria-label="" class="text-center" *ngIf="active == 'list'">
  <ul class="pagination">
    <li class="page-item" role="button" (click)="goToPrevPage();"
        [ngClass]="{'disabled': pagination.current == 1 }">
      <a class="page-link" tabindex="-1">Previous</a>
    </li>
    <li class="page-item" *ngFor="let pagenum of pagination.pages;" role="button"
        [ngClass]="{'active': pagination.current == pagenum }" (click)="goToPage(pagenum);">
      <a class="page-link">{{pagenum}}</a>
    </li>
    <li class="page-item" role="button" (click)="goToNextPage();"
        [ngClass]="{'disabled': pagination.current == pagination.total }">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>
